@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import "tailwindcss";
@import 'konsta/vue/theme.css';

@theme {
  --color-brand-primary: #76ABAE;
}

html, body {
  overscroll-behavior: none;
}